@font-face {
  font-family: 'XiangSu';
  src: url('../../assets/fonts/xiangsu.TTF');
}
.root {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  .timeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
      color: #ecb1c9;
      font-size: 10vw;
      font-family: 'XiangSu';
    }
  }
}
